.venv/
.ipynb_checkpoints/
__pycache__/
plots_temp/
data/
.Rhistory
dev.ipynb
analyses/*.html
analyses/troubleshoot_cluster_similarity/data/
analyses/troubleshoot_cluster_similarity/*.html
analyses/troubleshoot_microarray_transforms/data/
analyses/troubleshoot_microarray_transforms/transforms/
analyses/*.pdf
analyses/cluster_similarity/*.pdf
analyses/cluster_similarity/*.html
analyses/cluster_similarity/outputs/
analyses/cluster_similarity_old/
analyses/*.csv
analyses/gene_space_decomposition/heatmap_animation_nk_5/
analyses/gene_space_decomposition/*.html
analyses/cluster_permutations/*.pdf
analyses/cluster_permutations/*.html
analyses/human_processing_comparison/outputs
analyses/cluster_nk_optimization/outputs
analyses/cluster_nk_optimization/*.pdf
analyses/cluster_nk_optimization/*.html
analyses/troubleshoot_effect_sizes/*.pdf
analyses/human_cluster_characteristics/*.pdf
analyses/human_cluster_characteristics/outputs
figures/figure1
figures/*.pdf
.idea
/.Rprofile
scripts_old/
templates/
dev.py
dev.R
